<div class="container-fluid card shadow px-0" *ngIf="!newCoordinatorRequested">
    <div class="row mt-4 mx-0">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h5>Lista de coordinadores</h5>
            <button class="btn btn-primary d-flex" type="button" (click)="newCoordinatorRequest()">
                <span class="material-icons text-light mr-1">add</span>
                Nuevo
            </button>
        </div>
        <div class="col-12 align-items-center">
            <h6>Total de coordinadores: {{totalCoordinators}}</h6>
        </div>
        <div class="table-responsive">
            <table class="col-12 table table-hover mt-2">
                <thead>
                    <tr>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Licenciatura</th>
                        <th class="action" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let coordinator of coordinators">
                        <td>{{coordinator.name}} {{coordinator.lastname}} {{coordinator.secondLastname}}</td>
                        <td>{{coordinator.email}}</td>
                        <td>{{coordinator.degree.name}}</td>
                        <td class="action">
                            <span title="Eliminar" class="material-icons" (click)="deleteCoordinator(coordinator.id)">delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="actualPage<=0">
            <button class="page-link" (click)="this.getCoordinators(actualPage-1)">Anterior</button>
          </li>

          <li class="page-item" *ngIf="(actualPage-1)>0">        <button class="page-link" (click)="this.getCoordinators(actualPage-2)">{{actualPage-1}}</button></li>
          <li class="page-item" *ngIf="(actualPage)>0">          <button class="page-link" (click)="this.getCoordinators(actualPage-1)">{{actualPage}}</button></li>
          <li class="page-item active"><a class="page-link">{{actualPage+1}}</a></li>
          <li class="page-item" *ngIf="(actualPage+2)<=maxPages"><button class="page-link" (click)="this.getCoordinators(actualPage+1)">{{actualPage+2}}</button></li>
          <li class="page-item" *ngIf="(actualPage+3)<=maxPages"><button class="page-link" (click)="this.getCoordinators(actualPage+2)">{{actualPage+3}}</button></li>

          <li class="page-item" [class.disabled]="(actualPage+1)>=maxPages">
            <button class="page-link" (click)="this.getCoordinators(actualPage+1)">Siguiente</button>
          </li>
        </ul>
    </nav>
</div>

<div class="container-fluid card shadow px-0 mb-4" *ngIf="newCoordinatorRequested">
    <div class="row my-4 mx-0">
        <div class="col-12">
            <form class="col-12" [formGroup]="newCoordinatorForm" (ngSubmit)="newCoordinator()">
                <div class="row">
                    <div class="col-12">
                        <h5>Nuevo coordinador</h5>
                    </div>
                    <div class="col-12">
                        <h6>Información personal</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-4">
                        <label for="name">Nombre(s)</label>
                        <input formControlName="name" type="text" class="form-control" [class.is-invalid]="newCoordinatorForm.get('name').errors" id="name" maxlength="29">
                        <small *ngIf="newCoordinatorForm.get('name').errors?.required" class="form-text text-danger">Requerido.</small>
                        <small *ngIf="newCoordinatorForm.get('name').errors?.pattern" class="form-text text-danger">No valido.</small>
                        <small *ngIf="newCoordinatorForm.get('name').errors?.minlength" class="form-text text-danger">Al menos 3 caractéres.</small>
                        <small *ngIf="newCoordinatorForm.get('name').errors?.maxlength" class="form-text text-danger">Máximo 29 caractéres.</small>
                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label for="lastname">Apellido paterno</label>
                        <input formControlName="lastname" type="text" class="form-control" [class.is-invalid]="newCoordinatorForm.get('lastname').errors" id="lastname" maxlength="29">
                        <small *ngIf="newCoordinatorForm.get('lastname').errors?.required" class="form-text text-danger">Requerido.</small>
                        <small *ngIf="newCoordinatorForm.get('lastname').errors?.pattern" class="form-text text-danger">No valido.</small>
                        <small *ngIf="newCoordinatorForm.get('lastname').errors?.minlength" class="form-text text-danger">Al menos 3 caractéres.</small>
                        <small *ngIf="newCoordinatorForm.get('lastname').errors?.maxlength" class="form-text text-danger">Máximo 29 caractéres.</small>
                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label for="secondLastname">Apellido materno</label>
                        <input formControlName="secondLastname" type="text" class="form-control" [class.is-invalid]="newCoordinatorForm.get('secondLastname').errors" id="secondLastname" maxlength="29">
                        <small *ngIf="newCoordinatorForm.get('secondLastname').errors?.required" class="form-text text-danger">Requerido.</small>
                        <small *ngIf="newCoordinatorForm.get('secondLastname').errors?.pattern" class="form-text text-danger">No valido.</small>
                        <small *ngIf="newCoordinatorForm.get('secondLastname').errors?.minlength" class="form-text text-danger">Al menos 3 caractéres.</small>
                        <small *ngIf="newCoordinatorForm.get('secondLastname').errors?.maxlength" class="form-text text-danger">Máximo 29 caractéres.</small>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h6>Información profesional</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-4">
                        <label for="grade">Grado académico</label>
                        <input formControlName="grade" type="text" class="form-control" [class.is-invalid]="newCoordinatorForm.get('grade').errors" id="name" maxlength="20" placeholder="ej. M. en C. C.">
                        <small *ngIf="newCoordinatorForm.get('grade').errors?.required" class="form-text text-danger">Requerido.</small>
                        <small *ngIf="newCoordinatorForm.get('grade').errors?.pattern" class="form-text text-danger">No valido.</small>
                        <small *ngIf="newCoordinatorForm.get('grade').errors?.minlength" class="form-text text-danger">Al menos 3 caractéres.</small>
                        <small *ngIf="newCoordinatorForm.get('grade').errors?.maxlength" class="form-text text-danger">Máximo 20 caractéres.</small>
                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label for="degree">Carrera a cargo</label>
                        <select class="form-control" id="degree" formControlName="degree" [class.is-invalid]="newCoordinatorForm.get('degree').errors">
                          <option selected value="">Seleccionar</option>
                          <option *ngFor="let degreeItem of degrees" value="{{degreeItem.id}}">{{degreeItem.name}}</option>
                        </select>
                        <small *ngIf="newCoordinatorForm.get('degree').errors?.required" class="form-text text-danger">Requerido.</small>
                      </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <h6>Información de contacto</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-md-8">
                        <label for="email">Correo electrónico</label>
                        <input formControlName="email" type="text" class="form-control" [class.is-invalid]="newCoordinatorForm.get('email').errors" id="email" maxlength="99" (keydown.space)="$event.preventDefault();">
                        <small *ngIf="newCoordinatorForm.get('email').errors?.required" class="form-text text-danger">Requerido.</small>
                        <small *ngIf="newCoordinatorForm.get('email').errors?.email" class="form-text text-danger">No valido.</small>
                        <small *ngIf="newCoordinatorForm.get('email').errors?.minlength" class="form-text text-danger">Al menos 6 caractéres.</small>
                        <small *ngIf="newCoordinatorForm.get('email').errors?.maxlength" class="form-text text-danger">Máximo 99 caractéres.</small>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-secondary" type="button" (click)="newCoordinatorRequestCancel()" [disabled]="loadingNewCoordinator">Cancelar</button>
                        <button class="btn btn-primary ml-2" [disabled]="newCoordinatorForm.invalid || loadingNewCoordinator">
                            <span *ngIf="loadingNewCoordinator" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>