<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0 my-2">
        <img src="../../../../../assets/img/logo.png" class="logo" alt="Cactalia" loading="lazy">
        <div class="ml-4 navbar-brand">
            <div class="row">
                <h1 class="m-0">Cactalia</h1>
            </div>
        </div>
        <ul class="my-3 py-1 px-0">
            <span class="material-icons" (click)="back()">
                home
            </span>
        </ul>
        <div class="collapse navbar-collapse d-lg-none" id="navbarSupportedContent">
            <app-sidebar class="d-lg-none"></app-sidebar>
        </div>
    </nav>
</div>
<div class="container">
    <div class="card shadow px-0 py-4">
        <div class="row mx-0">
            <div (click)="changeMenuExpanded()" class="col-12 d-flex justify-content-between align-items-center" data-toggle="collapse" href="#menuCatalog" role="button" aria-expanded="true" aria-controls="menuCatalog">
                <h5 class="my-0">Catálogos</h5>
                <i *ngIf="menuExpanded" class="fa-solid fa-chevron-down gray" data-toggle="collapse" href="#menuCatalog" role="button" aria-expanded="true" aria-controls="menuCatalog"></i>
                <i *ngIf="!menuExpanded" class="fa-solid fa-chevron-up gray" data-toggle="collapse" href="#menuCatalog" role="button" aria-expanded="true" aria-controls="menuCatalog"></i>
            </div>
        </div>
        <div class="collapse show mt-4" id="menuCatalog">
            <div class="row mx-0">
                <div class="col-12 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-primary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Sudaderas
                        <i class="fa-solid fa-vest-patches"></i>
                    </button>
                </div>
                <div class="col-12 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-primary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Maquillaje
                        <i class="fa-solid fa-spa"></i>
                    </button>
                </div>
                <div class="col-12 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-primary mr-3" data-toggle="collapse" href="#collapseCatalog" role="button" aria-expanded="false" aria-controls="collapseCatalog">Price Shoes
                        <i class="fa-solid fa-shirt"></i>
                    </button>
                </div>
            </div>
            <div class="row mx-0 mt-2 collapse" id="collapseCatalog">
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Vestir casual</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Sandalias</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Caballeros</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Abrigador</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Urbano</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Botas</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Confort</button>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-2">
                    <button type="submit" class="btn btn-block btn-secondary mr-3" (click)="changePdfFile('https://drive.google.com/file/d/1_TGmXak_80gdF6u0zE7Ra4ue9EOnKEV3/preview')">Importados</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="url">
    <iframe class="pdf-view container card shadow px-0 my-4" [src]="safeSrc" width="100%" height="800px" allow="autoplay"></iframe>
</div>