@import "../../../../../styles.scss";
nav {
    justify-content: left;
}

.pdf-view {}

.logo {
    width: 40px;
    ;
}

.gray {
    color: $gray;
}

.navbar-brand {
    color: $dark;
    display: block;
    font-size: 15px;
    h1 {
        color: $gray;
        font-weight: 800;
        font-size: 25px;
        display: inline-block;
    }
}

ul {
    position: absolute;
    right: 0;
    top: 0;
}

h3 {
    color: $primary;
}

@media (max-width: 992px) {
    .logo {
        margin-left: 10px;
    }
}

@media (max-width: 518px) {
    .navbar-brand {
        font-size: 13px;
    }
}

@media (max-width: 470px) {
    .navbar-brand {
        font-size: 12px;
    }
    .pdf-view {
        max-height: 565px;
    }
}