<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0 my-2">
        <img src="../../../../../assets/img/logo.png" class="logo" alt="Cactalia" loading="lazy">
        <div class="ml-4 navbar-brand">
            <div class="row">
                <h1 class="m-0">Cactalia</h1>
            </div>
        </div>
        <ul class="my-3 py-1 px-0">
            <span class="material-icons" (click)="back()">
                home
            </span>
        </ul>
        <div class="collapse navbar-collapse d-lg-none" id="navbarSupportedContent">
            <app-sidebar class="d-lg-none"></app-sidebar>
        </div>
    </nav>
</div>
<div class="container card shadow px-0">
    <div class="row mt-4 mx-0">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h5>Catálogos</h5>
        </div>
    </div>
    <div class="row mb-4 mx-0">
        <div class="col-12 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-primary mr-3">Sudaderas
                <i class="fa-solid fa-vest-patches"></i>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-primary mr-3">Maquillaje
                <i class="fa-solid fa-spa"></i>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-primary mr-3" data-toggle="collapse" href="#collapseCatalog" role="button" aria-expanded="false" aria-controls="collapseCatalog">Price Shoes
                <i class="fa-solid fa-shirt"></i>
            </button>
        </div>
    </div>
    <div class="row mb-4 mx-0 collapse" id="collapseCatalog">
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Vestir casual</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Sandalias</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Caballeros</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Abrigador</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Urbano</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Botas</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Confort</button>
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-2">
            <button type="submit" class="btn btn-block btn-secondary mr-3">Importados</button>
        </div>
    </div>
</div>
<iframe class="pdf-view container card shadow px-0 my-4" [src]="safeSrc" width="100%" height="800px" allow="autoplay"></iframe>