@import "../../../../../styles.scss";
nav {
    justify-content: left;
}

.pdf-view {}

.logo {
    width: 40px;
    margin-right: 5px;
}

.gray {
    color: $gray;
}

h5{
    font-family: "cactus", Helvetica, sans-serif !important;
    font-size: 35px !important;
    color: $golden;
}

.navbar-brand {
    color: $dark;
    display: block;
    font-size: 15px;
    
}
.logo_name {
    max-width: 10%;
}

ul {
    position: absolute;
    right: 0;
    top: 0;
}

h3 {
    color: $primary;
}

@media (max-width: 992px) {
    .logo {
        margin-left: 10px;
    }
    .logo_name {
        max-width: 17%;
    }
}

@media (max-width: 518px) {
    .navbar-brand {
        font-size: 13px;
    }
    .logo_name {
        max-width: 24%;
    }
}

@media (max-width: 470px) {
    .navbar-brand {
        font-size: 12px;
    }
    .logo_name {
        max-width: 24%;
    }
}