@import "../../../../styles.scss";

.active-link{
    background: $primary;
    border-radius: 5px;

    .nav-link{
        .nav-link-text, .material-icons{
            color: $white;
        }
    }
}

.nav-item{
    border:0px;
    outline:0px;
    .nav-link-text{
        font-family: 'Poppins', sans-serif !important;
        font-size: 14px;
        font-weight: 600;
        color: $gray;
    }
}

.nav-item:hover{
    cursor: pointer;

    .nav-link-text, .material-icons{
        color: $primary;
    }
}  