<div class="cm-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-7 col-lg-5 mt-5">
                <div class="row">
                    <div class="col-12 brand">
                        <img class="logo" src="../../../assets/img/logo.png" alt="Cactalia">
                        <h1>Cactalia</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card form py-4 px-5">
                        <h3>Próximamente</h3>
                        <br>
                        <br>
                        <p class="text">¡Esto te va a encantar!</p>
                        <br> <br>
                        <br>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/cactus_baazar/">
                            <i class="fa fa-instagram" aria-hidden="true"></i> Cactus_baazar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>