<div class="row container-fluid card shadow px-0 pt-4 pb-4 mx-0 mb-4">   
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5>Programa de estudio</h5>
            </div>
            <div class="col-12">
                <h6>Revisión</h6>                
            </div>
        </div>        
        <div class="row" *ngIf="studyProgram != null">
            <div class="table-responsive col-12">
                <table class="col-12 table table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Fecha de ultima modificación</th>
                            <th class="action" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{this.datePipe.transform(studyProgram.lastUpdateDate, "d 'de' MMMM 'de' y. h:mm a")}}</td>
                        <td class="action">
                            <span class="material-icons" title="Descargar"
                            (click)="downloadReport(studyProgram.id, studyProgram.learningUnit, studyProgram.version, studyProgram.status)">file_download</span>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-secondary" type="button" (click)="showDetailsCancel()" [disabled]="loadingApproveAssign || loadingRejectAssign">Regresar</button>
                <button class="btn btn-danger ml-2" (click)="rejectAssign()" [disabled]="loadingApproveAssign || loadingRejectAssign">
                    <span *ngIf="loadingRejectAssign" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    Rechazar</button>
                <button class="btn btn-primary ml-2" (click)="approveAssign()" [disabled]="loadingApproveAssign || loadingRejectAssign || studyProgram==null || studyProgram.authors.length<=0">
                    <span *ngIf="loadingApproveAssign" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    Aprobar</button>
            </div>
        </div>
    </div>
</div>