<nav class="navbar navbar-expand-lg navbar-light px-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img src="../../../../assets/img/logoUAEMex.png" class="logo" alt="UAEM" loading="lazy">
    <div class="ml-4 navbar-brand">
        <div class="row t1">
            Universidad Autónoma del Estado de México
        </div>
        <div class="row t2">
            Unidad Académica Profesional Tianguistenco
        </div>
    </div>
    <ul class="my-3 py-1 px-0">
        <span class="material-icons exit" (click)="logout()">
            exit_to_app
        </span>
    </ul>
    <div class="collapse navbar-collapse d-lg-none" id="navbarSupportedContent">
        <app-sidebar class="d-lg-none"></app-sidebar>
    </div>
</nav>