$primary: #e66587;
$secondary: #ebe6f2;
$third: #c4e1db;
$four: #374928;
//pink e0cccb
//beige #d8d8bd
$white: #ffffff;
$dark: #000000;
$gray: #67696b;
$golden: #bf930d;
$cancelButtonColor: #9b9b9b;
$confirmButtonColor: $primary;
html {
    overflow-y: scroll;
}

input,
button,
a,
p {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Poppins', sans-serif !important;
}

label {
    color: $gray;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background: $primary !important;
    border-color: $primary !important;
}

a {
    color: $primary;
}

a:hover {
    color: $gray;
    text-decoration: none;
}

.material-icons {
    color: $gray;
    cursor: pointer;
}

.material-icons:hover {
    color: $primary;
}

.swal2-height-auto {
    padding-right: 0px !important;
}