<div *ngIf="!showProfile" class="container-fluid card shadow px-0">
    <div class="row mt-4 mx-0">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h5>Lista de clientes</h5>
        </div>
        <div class="col-12 align-items-center">
            <h6>Total de clientes: {{totalElements}}</h6>
        </div>
        <div class="table-responsive">
            <table class="col-12 table table-hover mt-2">
                <thead>
                    <tr>
                        <th scope="col">Nombre completo</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col" class="action">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{client.names}} {{client.lastName}} {{client.secondLastName}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.phoneNumber}}</td>
                        <td class="action">
                            <span title="Ver detalles" class="material-icons" (click)="showClienProfile(client.id)">info</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="actualPage<=0">
                <button class="page-link" (click)="this.getUserClients(actualPage-1)">Anterior</button>
            </li>

            <li class="page-item" *ngIf="(actualPage-1)>0"> <button class="page-link" (click)="this.getUserClients(actualPage-2)">{{actualPage-1}}</button></li>
            <li class="page-item" *ngIf="(actualPage)>0"> <button class="page-link" (click)="this.getUserClients(actualPage-1)">{{actualPage}}</button></li>
            <li class="page-item active"><a class="page-link">{{actualPage+1}}</a></li>
            <li class="page-item" *ngIf="(actualPage+2)<=maxPages"><button class="page-link" (click)="this.getUserClients(actualPage+1)">{{actualPage+2}}</button></li>
            <li class="page-item" *ngIf="(actualPage+3)<=maxPages"><button class="page-link" (click)="this.getUserClients(actualPage+2)">{{actualPage+3}}</button></li>

            <li class="page-item" [class.disabled]="(actualPage+1)>=maxPages">
                <button class="page-link" (click)="this.getUserClients(actualPage+1)">Siguiente</button>
            </li>
        </ul>
    </nav>
</div>

<client-profile *ngIf="showProfile" [userId]="this.showProfileId" (toReturnEvent)="receiveReturnMessage($event)"></client-profile>